<style>
  .autor {
    color: #FFFFFF6A;
    text-decoration: none;
  }

   .autor:hover {
    color: #FFFFFF;
    text-decoration: underline;
  }

  footer {
    color: white;
    text-align: center;
    flex-shrink: 0;
  }
</style>

<footer class="bg-dark text-center text-lg-start mt-4" data-bs-theme="dark">
  <div class="text-center p-3" style="color: #fff;">
    <span style="vertical-align: middle;">© 2023 Todos os direitos reservados:</span>
    <a class="autor" target="_blank" href="https://www.linkedin.com/in/kau%C3%A3-rodrigo-16535725b/" style="vertical-align: middle;">kauaa_rodrigoo</a>
  </div>
</footer>









