<div class="container-fluid p-0">

  <div style="background:#E9ECEF" class=" p-5 rounded-lg m-3">

    <h1 class="display-4">StockRotativo</h1>
    <p class="lead">O controle de estoque ao alcance de suas mãos.</p>
    <hr class="my-4">
    <p>Gerencie seu estoque de forma eficiente com o StockRotativo. Registre as entradas e saídas de produtos e obtenha
      relatórios atualizados para manter o controle de seu almoxarifado</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a>
    
  </div>

</div>