<form action="/doar.js" method="post">

    <p>Nome da pessoa/instituição: </p>
        <input type="text" name="nome">

    <P>Situação: </P>
        <input type="text" name="situacao">

    <p>Necessidade: </p>
        <input type="text" name="necessidade">
    
    <p>Localidade: </p>
        <input type="text" name="local">

    <p>Informações: </p>
        <input type="text" name="info">

    <button type="submit">Enviar pedido</button>

</form>