<form action="/cadastro.js" method="post">

    <p>Nome : </p>
        <input type="text" name="nome">

    <P>Sobrenome: </P>
        <input type="text" name="sobre">

    <p>Email: </p>
        <input type="email" name="email">
    
    <p>Idade: </p>
        <input type="number" name="idade">

    <p>Senha: </p>
        <input type="text" name="senha">

    <button type="submit">Enviar pedido</button>

</form>